doctype html
html
  head
    title LAMDA Quest
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="javascripts/phaser.js")
    script(type="text/javascript" src="javascripts/boot.js")
    script(type="text/javascript" src="javascripts/preload.js")
    script(type="text/javascript" src="javascripts/mainGame.js")
    script(type="text/javascript" src="javascripts/UI/ui.js")
    script(type="text/javascript" src="javascripts/input.js")
    script(type="text/javascript" src="javascripts/map.js")

  body
    block content