doctype html
html
  head
    title LAMDA Quest
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
    script(src="//code.jquery.com/jquery-git2.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

    script(data-main="javascript/main", src="javascript/3rdParty/require/require.js")
    script(type="text/javascript" src="assets/data/messages.js")
    script(type="text/javascript" src="javascript/3rdParty/Phaser/phaser.js")
    script(type="text/javascript" src="javascript/audio/sounds.js")    
    script(type="text/javascript" src="javascript/entities/player.js")
    script(type="text/javascript" src="javascript/input/input.js")
    script(type="text/javascript" src="javascript/maps/map.js")
    script(type="text/javascript" src="javascript/menus/ui.js")
    script(type="text/javascript" src="javascript/menus/pauseMenu.js")
    script(type="text/javascript" src="javascript/messages/textBox.js")
    script(type="text/javascript" src="javascript/messages/message.js")    
    script(type="text/javascript" src="javascript/states/preload.js")
    script(type="text/javascript" src="javascript/states/menuState.js")
    script(type="text/javascript" src="javascript/states/tutorial.js")
    script(type="text/javascript" src="javascript/states/mainGame.js")
    script(type="text/javascript" src="javascript/states/gameOver.js")
    
  body
    block content
