doctype html
html
  head
    title LAMDA Quest
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="javascript/3rdParty/Phaser/phaser.js")
    script(type="text/javascript" src="javascript/states/boot.js")
    script(type="text/javascript" src="javascript/states/preload.js")
    script(type="text/javascript" src="javascript/states/menuState.js")
    script(type="text/javascript" src="javascript/states/mainGame.js")
    script(type="text/javascript" src="javascript/states/gameOver.js")
    script(type="text/javascript" src="javascript/menu/ui.js")
    script(type="text/javascript" src="javascript/menu/pauseMenu.js")
    script(type="text/javascript" src="javascript/input/input.js")
    script(type="text/javascript" src="javascript/maps/map.js")

  body
    block content
